html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Mate SC', serif;
    background-color: #F8F8FF;
}

h1 {
    font-size: 4rem;
    padding: 2%;
}

h2 {
    font-size: 2.5rem;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #FAEBD7;
    padding: 2% 2%;
}

nav a {
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 0.1% 1.5%;
    background-color: #F8F8FF;
}

header nav {
    margin-left: 4%;
}

#main {
    display: flex;
    align-items: center;
}

#main img {
    width: 95%;
    margin: 3%;
    border-style: solid;
    border-color: rgb(83, 70, 70);
    border-width: large;
    padding: 0%;
}

#main .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.mainPicture {
    width: 50%;
}

.info {
    margin: 0 auto;
}

button {
    background-color:rgb(211, 197, 197);
    width: 15vw;
    padding: 2%;
    font-size: 1.6rem;
    font-family: 'MATE SC', serif;
    white-space: nowrap;
    text-align: center;
}

#firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 0 0 5%;
}

#firstRow div img {
    width: 20vw;
    height: auto;
}

#firstRow div p {
    text-align: center;
}

#secondRow div img {
    width: 20vw;
    height: auto;
}

#secondRow div p {
    text-align: center;
}

#secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 0 4%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAEBD7;
    padding: 3% 0;
}

footer button {
    margin: 2%;
    padding: 1% 3%;
    width: 15vw;
}

/*Media queries*/
@media (max-width: 800px) {
    h1 {
        text-align: center;
    }

    header nav {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0 40%;
        text-align: center;
    }

    #main {
        flex-direction: column;
    }
    
    .mainPicture {
        width: 100%;
    }

    #main .info {
        align-items: center;
        margin: 0 0 2%;
    }

    button {
        width: 20vw;
    }

    #firstRow, #secondRow {
        flex-wrap: wrap;
    }

    #firstRow div, #secondRow div {
        width: 40%;
        margin: 5%;
    }

    #firstRow div img, #secondRow div img {
        width: 100%;
    }

    #secondRow {
        padding: 0;
    }

    footer button {
        width: 20vw;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.8rem;
    }

    header nav {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    button {
        font-size: 1.1rem;
        width: 22vw;
    }

    .info p {
        text-align: center;
    }

    #firstRow p, #secondRow p {
        font-size: 1.2rem;
    }

    footer button {
        width: 22vw;
    }
}